* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Abril Fatface", "Cinzel", "Encode Sans", serif;
  align-items: center;
}

h1 {
  font-family: "Abril Fatface", "Cinzel", "Encode Sans", serif;
  color: rgb(255, 100, 0);
  font-size: medium;
}

h2 {
  font-family: "Encode Sans", serif;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

p {
  font-family: "Encode Sans", serif;
  font-size: small;
  font-weight: 300;
  padding-bottom: 10px;
}

header {
  background-color: blanchedalmond;
  height: fit-content;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
}

.logo {
  width: 95%;
  display: flex;
  flex-direction: row;
}

.navLogo {
  height: 15%;
  width: 15%;
  padding: 10px 5px 10px 10px;
}

.navName {
  text-decoration: none;
}

#navMenu {
  display: none;
  background-color: white;
}

.icon {
  color: rgb(255, 100, 0);
  padding-right: 5%;
}

.navMenu {
  background-color: white;
  margin-right: 0%;
  padding-right: 5%;
}
.navMenu a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  font-family: "Cinzel", "Encode Sans", serif;
  font-size: small;
  color: rgb(255, 100, 0);
  line-height: 200%;
}

hr {
  border: 1px solid rgb(255, 100, 0);
}

main {
  background-image: url(../images/background.jpeg);
}

.puja {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

#venue {
  font-family: "Encode Sans", serif;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
}
.venue {
  text-decoration: underline;
  font-family: "Encode Sans", serif;
  font-size: medium;
  font-weight: 300;
  text-align: center;
  color: black;
}

.saraswatiImg {
  width: 70%;
}

#invitation {
  font-family: "Encode Sans", serif;
  font-size: small;
  font-weight: 300;
  padding: 25px 0px;
}

th {
  font-family: "Encode Sans", serif;
  font-size: small;
  font-weight: 600;
  line-height: 35px;
  width: 70%;
}

td {
  font-family: "Encode Sans", serif;
  font-size: small;
  font-weight: 300;
  line-height: 25px;
}

.hate-khori {
  text-align: center;
  font-weight: 600;
  padding: 10px 0px 0px 0px !important;
}

.mobile {
  margin: auto;
  line-height: 250%;
  text-align: center;
}
.mobileNumber {
  text-decoration: none;
  font-family: "Encode Sans", serif;
  font-size: small;
  font-weight: 300;
  border: 1px solid rgb(255, 100, 0);
  border-radius: 5px;
  background-color: blanchedalmond;
  margin: 3px 5px;
  padding: 5px 5px;
  color: black;
}

footer {
  background-color: blanchedalmond;
  height: fit-content;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
}

.footerEl {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lu {
  font-family: "Encode Sans", serif;
  font-size: smaller;
}

.footerEl a {
  text-decoration: none;
  font-family: "Encode Sans", serif;
  color: rgb(255, 100, 0);
}

.sponsors {
  padding: 20px 0px;
}

.sponsor-header {
  width: 90%;
  margin: auto;
}

.logo-container {
  background-color: rgb(255, 249, 239);
  width: 90%;
  margin: auto;
  padding: 15px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-el {
  width: 150px;
  padding: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex !important;
  margin: auto;
}

.contact-container {
  background-color: white;
  width: 100%;

  margin: auto;
  padding: 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-mobile {
  margin: auto;
  line-height: 250%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cpMobileNumber {
  width: 170px;
  text-decoration: none;
  font-family: "Encode Sans", serif;
  color: black;
  background-color: blanchedalmond;
  border: 1px solid rgb(255, 100, 0);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 5px lightgrey;
}

.contact-text {
  text-align: center;
  font-size: medium;
}

.mantra {
  font-weight: 600;
}

.section-2 {
  width: 85%;
  margin: auto;
}
.bold {
  /* padding-left: 40px; */
  line-height: 150%;
}

.TagExp {
  text-align: Left;
}
